body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: blanchedalmond;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Style spécifique pour le premier paragraphe */
p:first-of-type {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

/* Style spécifique pour le dernier paragraphe */
p:last-of-type {
    font-style: italic;
    text-align: center;
    margin-top: 25px;
}